<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Resource List</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerytablesorter")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.colorbox-min.js")
    @*@Scripts.Render("~/Scripts/jquery.tablesorter.js")
    @Scripts.Render("~/Scripts/jquery.tablesorter.pager.js")*@
    @Styles.Render("~/Content/tablesorter.css")
    @Styles.Render("~/Content/colorbox.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/css/jquery.tablesorter.pager.min.css")
    @RenderSection("scripts", required: false)
</body>
</html>
